---
import { Image } from "astro:assets";

import Link from "./Link.astro";
import HiddenNav from "./HiddenNav.astro";

export interface NavLink {
    text: string;
    href: string;
}

export interface NavLogo {
    src: string;
    width: number;
    height: number;
}

export interface NavProps {
    navLinks: NavLink[];
    logo?: NavLogo;
}

const { navLinks, logo: logo } = Astro.props as NavProps;
---

<nav>
    <div class="nav-wrapper">
        <div class="nav">
            {
                logo && (
                    <a href="/">
                        <Image
                            src={logo.src}
                            alt={"No image :("}
                            width={logo.width}
                            height={logo.height}
                            format="jpg"
                            quality={100}
                        />
                    </a>
                )
            }
            <ul>
                {
                    navLinks.map((link: NavLink) => (
                        <Link
                            classes={["nav-link"]}
                            text={link.text}
                            href={link.href}
                        />
                    ))
                }
            </ul>
            <HiddenNav {navLinks} />
        </div>
    </div>
</nav>
