---
import { Image } from "astro:assets";

import Link from "./Link.astro";

interface NavLink {
    text: string;
    href: string;
}

interface NavImage {
    src: string;
    width: number;
    height: number;
}

export interface NavProps {
    navLinks: NavLink[]
    image: NavImage
}

const {navLinks, image} = Astro.props as NavProps;
---

<nav>
    <div class="navbar">
        <a href="/">
            <Image
                src={image.src}
                alt={"No image :("}
                width={image.width}
                height={image.height}
                format="jpg"
                quality={100}
            />
        </a>
        <ul>
            {
                navLinks.map((link : NavLink) => 
                    <Link text={link.text} href={link.href} />
                )
            }
        </ul>
    </div>
</nav>
